* {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}


.container {
    max-width: 1000px;
    margin: auto;
}



header {
    background-color: #48c5ce;
    text-align: center;
    color: white;
    padding: 10px;
}



/*Como é um título deve colocar um . no começo*/
.title {
    font-size: 26px;

}



section {
    padding: 20px;
    background-image: url("./images/people.jpg");
    background-size: cover;
    overflow: hidden;
    /*Faz com que a imagem preencha o necessário*/


}

/*Formulário*/
.formContainer {
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
}



h2 {
    font-size: 16px;

}


/*Serve para ter um espaço entre linhas*/
.mb {
    margin-bottom: 15px;
}

input,
select {
    width: 100%;
    box-sizing: border-box;
    /*Alinha as diferenças*/
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}



/*Aplica só para coisas que usam submit, no caso o botão de "INSCREVA-SE" */
input[type="submit"] {
    color: white;
    background-color: #48c5ce;
    font-weight: bold;

}


/*O botão de se inscrever não tem uma aparência padrão do navegador*/
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image: url('./images/arrow.jpg');
    background-repeat: no-repeat;

    background-position: calc(100% - 10px) center;

    /*Do jeito mais legível ficaria assim:
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    */
}

.picture {
    width: 160px;

}

footer {
    background-color: #202121;
    padding: 40px;
    text-align: center;
}



.description {
    display: inline-block;
    text-align: left;
    color: white;
    max-width: 40%;
    margin-left: 40px;


}


.description p,
.description h3 {
    margin-bottom: 20px;
}


.description h3 {
    font-size: 24px;
}